<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="show_nav = ! show_nav"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault"  [ngClass]="show_nav ? 'show_nav' : ''">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/phones']" routerLinkActive="active">Phones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="active">Cart</a>
      </li>
    </ul>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <p class="cart_nav">кол-во: {{nav_cart.cart_sum}}</p>
        <p class="cart_nav">сумма: {{nav_cart.cart_counts}} руб.</p>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


