@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";

.cart_nav {
  margin-bottom: 0;
  font-size: 13px;
}

.navbar {
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px){
  .nav.nav-pills {
    display: none;
  }
}
